NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=notes_user
DB_PASSWORD=notes_password
DB_NAME=notes_db
DB_LOGGING=true

JWT_SECRET=test_SECRET
JWT_EXPIRES_IN=7d

SEED_ON_START=true
LOG_LEVEL=info
